<div class='new-post-page'>
  <div class='show-header group'>
    <i class="glyphicon glyphicon-search"></i>
    <div class='edit-post-title'>
      <h3><%=post.get('title') %></h3>
      <div>Posted <%=post.get('created_at') %> by <%= post.get('username') %></div>
    </div>
  </div>
  <div class='message-body'>
    <p><%= post.get('content') %></p>
  </div>
  <div class='message-edit-submit group'>
    <input class='edit-message' type="submit" value="Edit">
  </div>
</div>
