<div class='new-post-page'>
  <h3>Submit a Posting</h3>

  <form class='message-new-form'>
    <div class='post-new-error'></div>
    <label>Title
      <input type="text" name="title" value="Emergency!">
    </label>
    <br>
    <label>Name
      <input type="text" name="username" placeholder="ViralHeatGuest">
    </label>
    <br>
    <label>
      <textarea name="content" rows="8" cols="40"></textarea>
    </label>

    <input class='new-message' type="submit" value="Create New Message!">
  </form>
</div>
