<h3> Message Index </h3>
<ul>
  <% posts.each( function(post) { %>
    <li> <a href="#/posts/<%= post.id %>"> <%= post.get('title') %></a> - <%= post.get('created_at') %></li>
  <% })%>
</ul>


<a href="#/posts/new">New Message</a>
