<div id="background">
  <div id="nav">
    <h1>Viral Message Board</h1>
    <div class="bar group">
      <a class='index-link nav-link' href="#">List</a>
      <a class='new-post-link nav-link' href="#/posts/new">Post</a>
    </div>
  </div>

  <div id="main"></div>
</div>
